@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Parte de arriba */

body{
   font-family: "Poppins", serif;
   background-color: burlywood;
}

.barrahorizontal{
    text-align: center;
}

.up{
    display: inline;
    text-align: center;
    background-color: white;
}

/* Profile */

.RUBER{
    font-family: "Poppins", serif;
    font-weight: 300;
}

.software{
    font-family: "Poppins", serif;
    font-weight: 300;
}

.Profile{ 
    padding-left: 50px;
    padding-right: 50px;
}

.profile-container{
    display: flex;
    background-color: aqua;
}

.profile-element{
    width: 50%;
    background-color: blueviolet;
}

.espacio{
    border-left: 3px solid black;
    padding-left: 25px;
}


/* Education */

.education {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.education-element {
    padding: 25px 25px 25px 0px; 
    width: 50%;
}

.education-container {
    display: flex;
}

.borde{
    border-left: 3px solid black;
    padding-left: 25px;
}

.education{
    border-bottom: 3px solid black;
    padding-top: 20px;
}